<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboard">Soporte Técnico</a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        </ul>

      <div class="d-flex">
        @if (authService.estaLogueado()) {
          <div class="d-flex align-items-center text-white me-3">
            <i class="bi bi-person-circle me-2"></i>
            <span class="me-3">{{ authService.obtenerUsuarioActual()?.usuario }}</span>
          </div>
          
          <button class="btn btn-outline-danger btn-sm" (click)="cerrarSesion()">
            <i class="bi bi-box-arrow-right"></i> Salir
          </button>
        }
      </div>
    </div>
  </div>
</nav>